apiVersion: apps/v1
kind: Deployment
metadata:
  name: hauke-deployment-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: moshootare/worker:latest
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          env:
            - name: DB_HOST
              value: "hauke-svc-db"
            - name: REDIS_HOST
              value: "hauke-svc-redis"
            - name: REDIS_PORT
              value: "6379"