apiVersion: apps/v1
kind: Deployment
metadata:
  name: hauke-deployment-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          image: redis:alpine
          ports:
            - containerPort: 6379