apiVersion: apps/v1
kind: Deployment
metadata:
  name: hauke-deployment-vote
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
        - name: vote
          image: moshootare/vote:latest
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          env:
            - name: REDIS_HOST
              value: "hauke-svc-redis"
            - name: REDIS_PORT
              value: "6379"